/*Otsikko*/
h1{
    font-family: cursive ;
    text-align: center;
    height: 50px;
    font-size: 30px;
    
}

/*Logo*/
.animelog{
    position:static;
    max-width: 110px;
   
    
    
}

/*Introtekstit*/
.lol-1{
    text-align: center;
    height: 350px;
    width: 800px;
    line-height: 180px;
}

.lol-3{
    margin-top: -10%;
    color: rgb(149, 57, 172);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.lol-6{
    text-align: center;}


    /*Navigaatio*/
.navigation{
    overflow: hidden;
    background-color: #4b1a4f;
    font-family: Arial;
    position: fixed;
    top: 0px;
    left: 0%;
}

.navigation a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
     padding: 14px 16px;
    text-decoration: underline;
}

/*Puhelimen näyttö*/

[class*="lol-"] {
    width: 100%;
    color: rgb(30, 17, 8);
    

 }
 [class*="animelog"] {
    margin-top: 13%;
    width: 65px;
    

 }

 [class*="lol-3"] {
   margin-top: -140px;
    

 }

 

 /*Koneen näyttö*/

 @media only screen and (min-width: 768px){
    .lol-1{width: 8,33%;
        margin-top: -5%;
    
    }
    .lol-6{width: 8,33%;}
    .animelog{margin-top: 45px;
        margin-left: -1,7%;
        width: 110px;
    
    }
    .lol-3{color: black;
    
    }
    
   
    
    
    
 }

 


    
 


