h1{
    font-family: sans-serif;
    text-align: center;
    height: 400px;
    width: 800px;
    line-height: 400px;
    
}

.animelog{
    
}

.navigation{
    overflow: hidden;
    background-color: #bd27c8;
    font-family: Arial;
    position: fixed;
    top: 0px;
}

.navigation a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
}